.button-90 {
    width: 150px;
    color:black;
    padding: 5px 5px;
    border-radius: 100px;
    background-color:#4CAF50;
    background-image: radial-gradient(93% 87% at 87% 89%, rgba(0, 0, 0, 0.23) 0%, transparent 86.18%), radial-gradient(66% 87% at 26% 20%, rgba(255, 255, 255, 0.41) 0%, rgba(255, 255, 255, 0) 69.79%, rgba(255, 255, 255, 0) 100%);
    box-shadow: 2px 19px 31px rgba(0, 0, 0, 0.2);
    font-weight: bold;
    font-size: 10px;
    align-items:end;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 20px;
    border: 100;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
  
    cursor: pointer;
    margin-top: 10px;
  }
  .button-902 {
    width: 150px;
    color:black;
    padding: 5px 5px;
    border-radius: 100px;
    background-color:#cd2b2b;
    background-image: radial-gradient(93% 87% at 87% 89%, rgba(0, 0, 0, 0.23) 0%, transparent 86.18%), radial-gradient(66% 87% at 26% 20%, rgba(255, 255, 255, 0.41) 0%, rgba(255, 255, 255, 0) 69.79%, rgba(255, 255, 255, 0) 100%);
    box-shadow: 2px 19px 31px rgba(0, 0, 0, 0.2);
    font-weight: bold;
    font-size: 10px;
    align-items:end;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 20px;
    border: 100;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
  
    cursor: pointer;
    margin-top: 10px;
  }
  .button-903 {
    width: 150px;
    color:black;
    padding: 5px 5px;
    border-radius: 100px;
    background-color:#92aa1a;
    background-image: radial-gradient(93% 87% at 87% 89%, rgba(0, 0, 0, 0.23) 0%, transparent 86.18%), radial-gradient(66% 87% at 26% 20%, rgba(255, 255, 255, 0.41) 0%, rgba(255, 255, 255, 0) 69.79%, rgba(255, 255, 255, 0) 100%);
    box-shadow: 2px 19px 31px rgba(0, 0, 0, 0.2);
    font-weight: bold;
    font-size: 10px;
    align-items:end;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 20px;
    border: 100;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
  
    cursor: pointer;
    margin-top: 10px;
  }
  .button-904 {
    width: 150px;
    color:black;
    padding: 5px 5px;
    border-radius: 100px;
    background-color:#245aa1;
    background-image: radial-gradient(93% 87% at 87% 89%, rgba(0, 0, 0, 0.23) 0%, transparent 86.18%), radial-gradient(66% 87% at 26% 20%, rgba(255, 255, 255, 0.41) 0%, rgba(255, 255, 255, 0) 69.79%, rgba(255, 255, 255, 0) 100%);
    box-shadow: 2px 19px 31px rgba(0, 0, 0, 0.2);
    font-weight: bold;
    font-size: 10px;
    align-items:end;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 20px;
    border: 100;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
  
    cursor: pointer;
    margin-top: 10px;
  }
  .button-90 button{
    width: 60px;
  }
  .button-902 button{
    width: 60px;
  }
  .button-903 button{
    width: 60px;
  }
  .button-904 button{
    width: 60px;
  }
  .button-90:hover {
    background-color: #f5f0f0;
    color: #000000;
    border: 3px solid #02fb4d;
    transition: all 0.3s ease 0s;
}
.button-902:hover {
  background-color: #fefefe;
  color: #000000;
  border: 3px solid  #02fb4d;
  transition: all 0.3s ease 0s;
}
.button-903:hover {
  background-color: #f9f9f9;
  color: #000000;
  border: 3px solid  #02fb4d;
  transition: all 0.3s ease 0s;
}
.button-904:hover {
  background-color: #fbfbfb;
  color: #000000;
  border: 3px solid  #02fb4d;
  transition: all 0.3s ease 0s;
}